{% extends 'base.html' %}

{% block content %}

<body class="background-wrapper">

<div class="profile-container">
    <div class="row">
        <div class="col">
            <h1 class="profile-heading text-center custom-text-color">Панель администратора</h1>

            <div class="admin-controls">
                <div class="row mt-4">
                    <div class="col-md-6 mb-4">
                        <div class="custom-admin-card card h-100" style="border-color: #5c3d2e;">
                            <div class="card-body">
                                <h3 class="card-title" style="color: #5c3d2e;">🛎️ Управление меню</h3>
                                <p class="card-text">
                                    Добавляйте новые блюда, редактируйте существующие позиции
                                    и обновляйте ассортимент меню
                                </p>
                                <a href="/add_dish" class="btn custom-btn">
                                    Добавить блюдо ➕
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="admin-controls">
                <div class="row mt-4">
                    <div class="col-md-6 mb-4">
                        <div class="custom-admin-card card h-100" style="border-color: #5c3d2e;">
                            <div class="card-body">
                                <h3 class="card-title" style="color: #5c3d2e;">🛎️ Управление пользователями</h3>
                                <p class="card-text">
                                    Добавляйте новых пользователей, изменяйте и удаляйте уже существующих
                                </p>
                                <a href="/manage_users" class="btn custom-btn">
                                    Панель управления
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}