{% extends "errors/BaseError.html" %}

{% block error %}

<link rel="stylesheet" href=" {{ url_for('static', filename='css/errors.css') }} ">
<div class="d-flex justify-content-center align-items-center flex-column">
    <h1>
        Произошла непредвиденная ошибка
    </h1>
    <img src="{{ url_for('static', filename='img/errors/400_error.png') }}" alt="...">
    <h2>
        Попробуйте повторить ваше действие позже
    </h2>
    <a class="btn custom-btn" href="/">На главную</a>
</div>

{% endblock %}