{% extends "errors/BaseError.html" %}

{% block error %}

<link rel="stylesheet" href=" {{ url_for('static', filename='css/errors.css') }} ">
<div class="d-flex justify-content-center align-items-center flex-column text-center" style="margin-top: 10%">
    <h1>
        Ошибка доступа
    </h1>
    <img src="{{ url_for('static', filename='img/errors/403_error.png') }}" alt="..." style="width: 20%;">
    <h2>
        Судя по всему, у вас нет прав доступа к этому ресурсу
    </h2>
</div>

{% endblock %}