{% extends "desktop/base.html" %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>User Profile</title>-->
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f4f4f4;-->
<!--            margin: 0;-->
<!--            padding: 20px;-->
<!--        }-->
<!--        .container {-->
<!--            max-width: 600px;-->
<!--            margin: auto;-->
<!--            background: white;-->
<!--            padding: 20px;-->
<!--            border-radius: 5px;-->
<!--            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);-->
<!--        }-->
<!--        h1 {-->
<!--            text-align: center;-->
<!--        }-->
<!--        .profile-info {-->
<!--            margin: 20px 0;-->
<!--        }-->
<!--        button {-->
<!--            padding: 10px 15px;-->
<!--            background-color: #007BFF;-->
<!--            color: white;-->
<!--            border: none;-->
<!--            border-radius: 5px;-->
<!--            cursor: pointer;-->
<!--        }-->
<!--        button:hover {-->
<!--            background-color: #0056b3;-->
<!--        }-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1>User Profile</h1>-->
<!--    <div class="profile-info">-->
<!--        <p id="user-info"></p>-->
<!--    </div>-->
<!--    <button id="login-btn">Login</button>-->
<!--    <button id="logout-btn" style="display:none;">Logout</button>-->
<!--</div>-->

<!--<script>-->
<!--        class UserProfile {-->
<!--            constructor(username, email) {-->
<!--                this.username = username;-->
<!--                this.email = email;-->
<!--                this.isLoggedIn = false;-->
<!--            }-->

<!--            login() {-->
<!--                this.isLoggedIn = true;-->
<!--                this.updateProfile();-->
<!--            }-->

<!--            logout() {-->
<!--                this.isLoggedIn = false;-->
<!--                this.updateProfile();-->
<!--            }-->

<!--            updateProfile() {-->
<!--                const userInfo = document.getElementById('user-info');-->
<!--                const loginBtn = document.getElementById('login');-->

<!--</script>-->

{% block content %}

<body class="background-wrapper">
<div class="profile-container">
    <div class="row">
        <div class="col">
            <h1 class="profile-heading">Профиль</h1>

            {% set names_of_properties = ['Имя', 'Фамилия', 'Пол', 'Номер телефона', 'Электронная почта', 'Баллы
            лояльности'] %}
            {% for property in names_of_properties %}
            <h5 class="profile-property">
                <strong style="margin-right: 10px;">{{property }}:</strong>
                {% if current_user.to_dict()[current_user.attributes[loop.index0]]|string() != 'None' %}
                {{current_user.to_dict()[current_user.attributes[loop.index0]]|string()}}
                {% else %}
                -
                {% endif %}
            </h5>
            {% endfor %}

            <a href="/change_info" class="btn custom-btn mt-3">Изменить</a>
        </div>
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/icons/user-icon.png') }}" class="user-icon" alt="User Icon">
        </div>
    </div>
</div>

<div class="cards-wrapper">
    <div class="row">
        </div>
        <div class="col">
            <div class="custom-profile-card card">
                <div class="card-body">
                    <h5 class="card-title">Программа лояльности</h5>
                    <p class="card-text">Каждый день мы стараемся дарить вам вкусную еду и широкое меню. Для особо
                        преданных пользователей у нас существует программа лояльности, которая позволяет оплачивать
                        покупки баллами. Почувствуйте себя изысканным гурманом с нашим кафе</p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button loyalty-toggle" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <strong>Как заработать баллы лояльности?</strong>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Баллы лояльности начисляются за каждую покупку</strong>, сделанную в
                                    интернет-версии нашего кафе, а также за покупки, сделанные офлайн в размере 5
                                    процентов от реальной стоимости
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed loyalty-toggle" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    <strong>Где можно использовать баллы лояльности?</strong>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    С помощью баллов лояльности <strong>вы можете оплатить до 100 процентов вашей
                                    покупки</strong>, а также использовать их для приобретения оригинальной сувенирной
                                    продукции
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed loyalty-toggle" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <strong>Какие еще программы есть для меня?</strong>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Сейчас мы работаем над улучшением нашей системы лояльности. Вскоре будут добавлены
                                    <strong>уровни лояльности, фирменный мерч и особые блюда меню</strong> для преданных
                                    клиентов
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}