{% extends "base.html" %}

{% block content %}

<script>
    function updateCart(dishId, operation) {
        fetch('/update_cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                dish_id: dishId,
                operation: operation  // 'add' или 'remove'
            })
        })
        .then(response => response.json())
        .then(data => {
            // Обновляем UI на основе ответа от сервера
            document.getElementById('res').textContent = data.total + ' ₽';
            document.querySelector(`.counter[data-dish="${dishId}"]`).textContent = data.count;
        });
    }

    function add() {
        const dishId = this.getAttribute('data-dish');
        updateCart(dishId, 'add');
    }

    function remove() {
        const dishId = this.getAttribute('data-dish');
        updateCart(dishId, 'remove');
    }

</script>
<div class="container mt-4">
    <div class="row align-items-center mb-3 border-bottom pb-2 text-center">
        <div class="col-6 col-md-4">
            <h3 class="mb-0">Название</h3>
        </div>

        <div class="col-6 col-md-4 text-center">
            <h3 class="fw-bold">Цена</h3>
        </div>

        <div class="col-6 col-md-4 text-end">
            <div class="input-group justify-content-end" style="max-width: 200px;">
                <h3>Количество</h3>
            </div>
        </div>
    </div>
</div>
{% for value in session["cart"].values() %}
{% if value[2] %}
<div class="container mt-4">
    <div class="row align-items-center mb-3 border-bottom pb-2 text-center">
        <div class="col-6 col-md-4">
            <h5 class="mb-0">{{ value[0] }}</h5>
        </div>

        <div class="col-6 col-md-4 text-center">
            <span class="fw-bold" id="res">{{ value[1] }}</span>
        </div>

        <div class="col-6 col-md-4 text-end">
            <div class="input-group justify-content-end" style="max-width: 200px;">
                <div>{{value[2]}}</div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<nav class="navbar fixed-bottom bg-body-tertiary">
    <a class="btn bad-red-button" href="/menu">Очистить все</a>
    <a class="btn success-green-button" href="/checkout">Оплатить</a>
    <div style="margin-right: 15px;">Итого: {{session["total"]}}₽</div>
</nav>

{% endblock %}